div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: dodgerblue;
    color: white;
}
.dark{
    background-color: #1F2022;
    color: whitesmoke;
}
.light{
    background-color: whitesmoke ;
    color: #1F2022;
}